# Exclude entire Data folder
Data/

# Other large files
*.fa
*.fasta
*.fna
*.gbff
*.mmi
*.sam
*.db
*.RDataTmp
*.RDataTmp1
*.fai
*.gff3_db
allfileshas.txt
.Rproj.user
.RDataTmp*
*.RData
*.Rhistory
orbicella_genome_data.tar.gz
